   
<ion-content>
  <div name="header">
    
      <div class="header_body">
         
        <div class="menu_div">
            <div class="logo_div">
              <img src="../assets/logo.png" class="logotop">
            </div>
            <div class="contact_div" id="topcontact">
              <div><b>Contacts:</b></div>
              <div class="contact">
                  <p> BOX 1622 – 80108<br>
                    KILIFI, KENYA.<br>    
                    Email: <a>datapretresearch@gmail.com</a>
                      </p>
              </div>
          </div>
          <div class="menu_container">
            <div class="menu_div" ></div>
              <div class="menu_div">
                  <div class="topnav" id="myTopnav" click="myFunction()">
                    <a  class="active">HOME</a>
                    <a routerLink='/blog'>BLOG</a>
                    <a >DOWNLOADS</a>
                    <a id="contacts_icon" (click)="getFocus()">CONTACTS</a>
                    <a href="javascript:void(0);" class="icon" (click)="myFunction()" >
                      <i class="fa fa-bars"></i>
                    </a>
                  </div>
                </div>
          </div>
         
          </div>
      
    </div>
  
  </div>
    
    <ion-grid class="asdf" no-margin>
      <ion-row no-margin  no-padding>
        <div class="sisi" no-margin>
          
          <strong>
            <h1><img src="../assets/trolly.png" id="trolly">ONE-STOP SHOP FOR RESEARCH & CONSULTANCY >>></h1>
          </strong>
        </div>
      </ion-row>
      <ion-row class="firstlineRow">
        <div>
            <div class="firstLine">
                <ion-slides pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)" size="6">
                    <ion-slide  class="mySlides" style="background-image: url(../assets/slide/slideImage2.jpg)">
                      <div class="triangle-up"></div>
                        <div class="triangle-right"></div>
                        <div class="positionText">
                          <i><h3> > <u>Highly Trained Team</u></h3></i>
                        </div>
                        <img src="../assets/icon/datapret_icon.png" class="slides_icon">
                    </ion-slide>
                    <ion-slide  class="mySlides" style="background-image: url(../assets/slide/image2.jpg)">
                      <div class="triangle-up"></div>
                        <div class="triangle-right"></div>
                        <div class="positionText">
                          <i><h3> > <u>High expertise & multi-method approaches</u></h3></i>
                        </div>
                        <img src="../assets/icon/datapret_icon.png" class="slides_icon">
                    </ion-slide>
                    <ion-slide  class="mySlides" style="background-image: url(../assets/slide/image1.jpg)">
                      <div class="triangle-up"></div>
                        <div class="triangle-right"></div>
                        <div class="positionText">
                          <i><h3> > <u>Data processing and reporting</u></h3></i>
                        </div>
                        <img src="../assets/icon/datapret_icon.png" class="slides_icon">
                    </ion-slide>
                </ion-slides>
                  
              </div>
          <div class="firstLine textMargin" >
            <h3><b>Company type:</b></h3>
            <p>Datapret Research and Consultancy is your one-stop shop for all your research and consultancy needs. 
            Datapret offers consultancy services, data collection infrastructure and soft skills training for 
            research needs for both qualitative and quantitative research that will guide your decision making.</p> 
          </div>
          
        </div>
        
      </ion-row>
      
      
      
  <ion-row>
    <ion-col><div class="ion-text-center servicesTitle"><h3><b>OUR SERVICES INCLUDE:</b></h3></div></ion-col>
  </ion-row>
  <ion-row >
    <ion-col size="12" text-align: center>
      <div class="services_countainer">
          <div class="services_div">
              <ion-card class="servicesCard_div">
                <div class="imageServices"><img src="../assets/services/image1.jpg" /></div>
                <div class="textServises">
                    <ion-card-header>
                        <ion-card-title  class="servicesText">Survey Research Design</ion-card-title>
                       </ion-card-header>
                </div>
              </ion-card>
              <ion-card class="servicesCard_div">
                <div class="imageServices"><img src="../assets/services/image2.jpg" class="topNegateve"/></div>
                <div class="textServises">
                    <ion-card-header>
                        <ion-card-title  class="servicesText">Onsite and Exit Interviews</ion-card-title>
                       </ion-card-header>
                </div>
              </ion-card>
              <ion-card class="servicesCard_div">
                <div class="imageServices"><img src="../assets/services/image3-b.jpg"  class="topNegateve"/></div>
                <div class="textServises">
                    <ion-card-header>
                        <ion-card-title  class="servicesText">Focus Group Discussions </ion-card-title>
                       </ion-card-header>
                </div>
              </ion-card>
              <ion-card class="servicesCard_div">
                <div class="imageServices"><img src="../assets/services/image4.jpg" /></div>
                <div class="textServises">
                    <ion-card-header>
                        <ion-card-title  class="servicesText">Online, Telephone and Multi-Mode Surveys</ion-card-title>
                       </ion-card-header>
                </div>
              </ion-card>
              <ion-card class="servicesCard_div">
                <div class="imageServices"><img src="../assets/services/image5.jpg" /></div>
                <div class="textServises">
                    <ion-card-header>
                        <ion-card-title  class="servicesText">Reporting and Analysis</ion-card-title>
                       </ion-card-header>
                </div>
              </ion-card>
              <ion-card class="servicesCard_div">
                <div class="imageServices"><img src="../assets/services/image6.jpg" /></div>
                <div class="textServises">
                    <ion-card-header>
                        <ion-card-title  class="servicesText">Baseline, Midterm and End Term Surveys</ion-card-title>
                       </ion-card-header>
                </div>
              </ion-card>
              <ion-card class="servicesCard_div">
                <div class="imageServices"><img src="../assets/services/image7.jpg"  class="topNegateve"/></div>
                <div class="textServises">
                    <ion-card-header>
                        <ion-card-title  class="servicesText">Employee and Customer Satisfaction Surveys</ion-card-title>
                       </ion-card-header>
                </div>
              </ion-card>
              <ion-card class="servicesCard_div">
                <div class="imageServices"><img src="../assets/services/image8.jpg" /></div>
                <div class="textServises">
                    <ion-card-header>
                        <ion-card-title  class="servicesText">Behavior, Usage and Attitude Surveys</ion-card-title>
                       </ion-card-header>
                </div>
              </ion-card>
              <ion-card class="servicesCard_div">
                <div class="imageServices"><img src="../assets/services/image9.jpg" /></div>
                <div class="textServises">
                    <ion-card-header>
                        <ion-card-title  class="servicesText">Opinion Polls</ion-card-title>
                       </ion-card-header>
                </div>
              </ion-card>
              <ion-card class="servicesCard_div">
                <div class="imageServices"><img src="../assets/services/image10.jpg" /></div>
                <div class="textServises">
                    <ion-card-header>
                        <ion-card-title  class="servicesText">Data Processing and Reporting</ion-card-title>
                       </ion-card-header>
                </div>
              </ion-card>
              <ion-card class="servicesCard_div">
                <div class="imageServices"><img src="../assets/services/image11.jpg" /></div>
                <div class="textServises">
                    <ion-card-header>
                        <ion-card-title  class="servicesText">Research Team Training</ion-card-title>
                       </ion-card-header>
                </div>
              </ion-card>
              <ion-card class="servicesCard_div">
                <div class="imageServices"><img src="../assets/services/image12.jpg" /></div>
                <div class="textServises">
                    <ion-card-header>
                        <ion-card-title  class="servicesText">Research Assistant Recruitment and Field Supervision</ion-card-title>
                       </ion-card-header>
                </div>
              </ion-card>
              
          </div>
      </div>
        
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col><div class="ion-text-center servicesTitle"><h3><b>We also avail data collections infrastructure: </b></h3></div></ion-col>
  </ion-row>
  <ion-row>
   <ion-col>
    <div class="infrastructure_container">
      <div class="infrastructure_div">
          <div class="infrastructure_item">
              <div class="infrastructre_pic">
                <img src="../assets/services/image13.jpg">
              </div>
              <div class="infrastructure_text">
                <h5>-	A ready and Highly Trained Team Of Research Assistants</h5>
              </div>
            </div>
            <div class="infrastructure_item">
              <div class="infrastructre_pic">
                <img src="../assets/services/image14.jpg">
              </div>
              <div class="infrastructure_text">
                <h5>-	Hire of data collection equipment: survey-enabled iphones, recorders </h5>
              </div>
            </div>
      </div>
    </div>
   </ion-col>
  </ion-row>
  
  
  <ion-row class="coloringLower">
    <ion-col>
     <div class="infrastructure_containerLower">
       <ion-card>
         <ion-card-content>
            <div class="infrastructure_divLower">
                <div class="infrastructure_itemLower">
                    <div class="infrastructre_picLower">
                        <ion-avatar>
                            <img src="../assets/profilePic.jpg">
                        </ion-avatar>
                    </div>
                    <div >
                      <h5  style="color: blue; font-size: large;"><b>Dr. Sellah Lusweti</b></h5>
                    </div>
                  </div>
                  <div class="infrastructure_item2">
                    
                    <div class="infrastructure_text">
                      <div class="jibambe" style="margin-right: -15px; color: rgb(1, 36, 1); font-size: 120%;">
                        <h1><b><u>Director</u></b></h1>
                      </div>
                      <div class="cv_div" id="test1">
                        <p>
                              Holds a PhD in Educational Psychology 
                              (Measurement and Evaluation) and a Masters in Education degree 
                              (Research and Evaluation). She has nine years’ research and consultancy 
                              experience conducting social research in the fields of education, peace 
                              and conflict management, and livelihood promotion. She is also well experienced
                               in conducting baseline, midterm and end line surveys.
                          </p>
                      </div>
                      
  
                    </div>
                  </div>
            </div>
         </ion-card-content>
       </ion-card>
       
     </div>
    </ion-col>
  </ion-row>
    </ion-grid>
 
    <app-footer></app-footer>  
  </ion-content>
  
  
  
  